cryptography==36.0.2
falcon==3.1.0
falcon_sqla==0.3.0
gunicorn==20.1.0
httpie==3.2.1
marshmallow==3.17.0
marshmallow-sqlalchemy==0.28.1
PyMySQL==1.0.2
pytest==6.2.5
python-dateutil==2.7.5
python-dotenv==0.10.3
requests==2.22.0
SQLAlchemy==1.4.40
waitress==2.1.2